.slds-box {
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.selected-card {
    border: 2px solid var(--lwc-colorBorderBrand);
    background: rgb(243, 250, 255);
}
.result-card {
    transition: 0.2s;
}